version: '3.8'

services:
  backend:
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_DEBUG=True

  frontend:
    build:
      dockerfile: Dockerfile.dev
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5174:5174"
